* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width:100vw;
    background-image: url(../assets/csg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

table{
    background-color: #ffffff;
    width: 90%;
    height:80%;
    padding: 1em;
}

td{
    line-height: 1.5em;
    font-size: 1.2em;
    margin: 0;
}

.label{
    text-align: left;
    padding-left: 1em;
    width: 20%;
    font-size: 1.3em;
}

.stat{
    border-bottom: 1px solid #000000;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color:#303030
}

button{
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    line-height: 1.5em;
    font-size: 1.2em;
    margin: 2vh;
    padding: 1vh;
}

#input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#choose{
    background-color: #ffffff50;
}

#radios{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.radio-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}


@media screen and (min-width: 600px){
    table{
        width: 50%;
    }
}

@media screen and (min-height: 1000px){
    table{
        height:60%;
    }
}

@media screen and (min-width: 1000px){
    table{
        width: 30%;
    }
}

@media screen and (max-height: 600px){
    .container{
        flex-direction: row;
    }
    table{
        height: 100vh;
    }
}