/* body {
    background-color: aqua;
} */



#clockFace {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 15vh;
    min-height: 60px;
    width: 60vh;
    min-width: 300px;
    margin: auto;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Wallpoet', cursive;
}

.num {
    width: 40%;
    font-size: 5em;

}

.divide {
    width: 5%;
    font-size: 5em;
    animation: blink 1s infinite;
    padding: 1vw;
}

.amPM {
    width: 15%;
    font-size: 2em;
    height: 80%;
    align-self: flex-end;
    padding-left: 1vw;
}

@keyframes blink {
    0% {opacity: 1}
    50% {opacity: 0}
    0% {opacity: 1}
}