
body {
    background-color: #2e2e2e;
    
}

.showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw
}

a {
    text-decoration: none;
    color: white;
}

#timer{
    width: 80vw;
    display: flex;
    margin: 24vh;
    padding: 1vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #00000094;
    font-family: 'Wallpoet', cursive;
}

.time{
    background-color: #000000;
    height: fit-content;
    width: 15%;
    margin: 1vw;
    color: #ffffff;
    display: inline-block;

}

#banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    height: 20%;
    text-align: center;
    color: #ffffff;
    font-family: 'Wallpoet', cursive;
}

.active{
    background: #F60539;
    background: -webkit-linear-gradient(right, #F60539, #421C66);
    background: -moz-linear-gradient(right, #F60539, #421C66);
    background: linear-gradient(to left, #F60539, #421C66);
}

@media only screen and (max-width: 680px) {
    #timer{
        flex-direction: row;
        width: fit-content;
    }
    .time{
        display:block;
        width: 16vw;
        min-width: fit-content;
    }
    a{
        position:absolute;
        bottom:5px;
        right: 5px;
    }
}