:root {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 500px) {
  /* Style adjustments for viewports that meet the condition */
}



body {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #06071A;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.card-border{
  margin: auto;
  width: 60vw;
  background: linear-gradient(45deg, #646A8D, #5D5370, #87644C, #78775D); 
  border-radius: 3em;
}
.card{
  margin: 1vh;
  padding: 5vh;
  background-color: #06071A;
  border-radius: 3em;
  color: #646A8D;
  text-align: center;
}

/*linear-gradient(45deg, #646A8D, #5D5370, #87644C, #78775D); */

