

:root {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 500px) {
  /* Style adjustments for viewports that meet the condition */
}



body {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/bkground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #06071A;
}

h1{
  font-family: 'Vollkorn', serif;
}

p{
  font-family: 'Calibri';
}

.full-screen{
  height: 100vh;
}

nav {
  width: 100%;
  display: flex;
  background-color: #000066;
  height: 10vh;
  z-index: 1;
  align-items: center;
  justify-content: right;
}

#navlinks {
  list-style: none;
}

#navlinks:last-child {
  margin-right: 3em;
}

#navlinks > li{
  display: inline;
  padding-right: 1em;
  font-family: 'Vollkorn', serif;
}

li > a {
  text-decoration: none;
  color:#cccccc;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.card{
  margin: 20vh;
  padding: 5vh;
  background-color: #cccccc;
  border: 1em solid #000066;
  border-radius: 3em;
  color: #000066;
  text-align: justify;
}

.card h1 {
  text-align: center;
  margin-top: 0;
}

.row {
  background-color: #000066;
}

footer {
  height:15vh;
  background-color: #000066;
  color:#cccccc;
}