/*_____Document_____*/

:root {
  /* font-size: 1em; */
  line-height: 1.4;
  --dark: #000040;
  --white: #ffffff;
  --trans-white: #ffffffaf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/bkground1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




/*_____General_____*/

h1, h2{
  font-family: 'Special Elite', cursive;
}

p{
  font-family: 'Calibri';
}




/*_____Utility_____*/

.flex {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}




/*_____Layout_____*/

/*Divs*/
.full-screen{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-screen{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Navigation*/
nav {
  width: 100%;
  display: flex;
  background-color: var(--dark);
  height:fit-content;
  z-index: 1;
  align-items: center;
  justify-content: right;
}

#navlinks {
  list-style: none;
  padding-top: 1vh;
}

#navlinks > li{
  display: inline;
  margin-right: 2vw;
  font-family: 'Special Elite', cursive;
  cursor: pointer;
}

img.btn {
  height: 30px;
}

/*Cards*/
.card{
  margin: 20vh;
  padding: 5vh;
  background-color: var(--trans-white);
  color: var(--dark);
  text-align: justify;
  box-shadow: 0px 0px 1em var(--dark);
}

.card h1 {
  text-align: center;
  margin-top: 0;
}

/*Row*/
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dark);
  margin: 0 5vw;
  box-shadow: 0px 0px 1em var(--dark);
}

.card-row {
  height: 75vh;
  width: 25vw;
  background: var(--white);
  color:var(--dark);
  padding: 5vh;
}

/*Header*/
header {
  color:var(--white);
  text-shadow: 0px 0px 1em var(--dark);
  text-align: center;
}

#header {
  font-size: 10em;
  margin: 0;
  font-family: 'Fredericka the Great', cursive;
}

/*Footer*/
footer {
  height:10vh;
  background-color: var(--dark);
  color:var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}

footer img.icon{
  height: 30px;
}

footer h3{
  color: var(--white);
  font-family: 'Special Elite', cursive;
}

/*_____Content Styles_____*/

/*Bio*/
.bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
}

#homebio{
  margin-top: 0;
  width: 50vw;
  align-self: center;
}

.bio .img{
  height: 90%;
}

img#bio-image{
  height: 100%;
  width: auto;
}

.bio .description{
  height: 90%;
  text-align: justify;
  width: 75%;
}

/*Contact Page*/
#contactPage{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vh;
  height: 90vh;
}

#contact-list{
  background-color: var(--trans-white);
  padding: 5vh;
  /* border: 1vh solid var(--dark); */
  height: 80%;
  box-shadow: 0px 0px 1em var(--dark);
}

.contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.contact > h4{
  color:var(--dark);
}

img.icon{
  width: auto;
  float:left;
}

/*_____Media Queries_____*/

@media (max-width: 600px)  {
  /* Style adjustments for mobile*/
  nav {
    justify-content: center;
  }

  .full-screen {
    height: fit-content;
    min-height: 33vh;
    }

  #header {
    margin-top: 5vh;
    font-size: 5em;
    text-align: center;
  }
  .row {
    flex-direction: column;
    height:fit-content;
  }
  .card-row {
    margin: 1em;
    width: 90%;
    height: fit-content;
  }

  #homebio{
    width: 90%;
    margin-top: 5vh;
  }
}
/*media query for max-width 300*/