/*_____Document_____*/

:root {
  /* font-size: 1em; */
  /* line-height: 1.4; */
  --dark: #000040;
  --white: #ffffff;
  --trans-white: #ffffffaf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/bkground1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




/*_____General_____*/

h1, h2{
  font-family: 'Special Elite', cursive;
}

p{
  font-family: 'Calibri';
}




/*_____Utility_____*/

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
}




/*_____Layout_____*/

/*Divs*/
.full-screen{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.half-screen{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Navigation*/
nav {
  width: 100%;
  display: flex;
  background-color: var(--dark);
  height:fit-content;
  z-index: 1;
  align-items: center;
  justify-content: right;
}

#navlinks {
  list-style: none;
  padding-top: 1vh;
}

#navlinks > li{
  display: inline;
  margin-right: 2vw;
  font-family: 'Special Elite', cursive;
  cursor: pointer;
}

img.btn {
  height: 30px;
}

/*Cards*/
.card{
  margin: 5vh; 
  padding: 5vh;
  width: 80%;
  background-color: var(--trans-white);
  color: var(--dark);
  text-align: justify;
  box-shadow: 0px 0px 1em var(--dark);
}

.card h1 {
  text-align: center;
  margin-top: 0;
}

.accent {
  background: var(--white);
  color:var(--dark);
  border: 1vh solid var(--dark);
  box-shadow: 0px 0px 1em var(--dark);
  margin-bottom: 0;
  text-align: center;
}

.accent > ul {
  list-style: none;
}

/*Row*/
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dark);
  margin: 0 5vw;
  box-shadow: 0px 0px 1em var(--dark);
}

.card-row {
  text-align: center;
  min-height: fit-content;
  height: 90%;
  width: 25vw;
  background: var(--white);
  color:var(--dark);
  padding: 5vh;
}


/*Header*/
header {
  color:var(--white);
  text-shadow: 0px 0px 1em var(--dark);
  text-align: center;
}

header > h2 {
  font-size: 1.5em;
}

#header {
  font-size: 12em;
  margin: 5vh;
  font-family: 'Fredericka the Great', cursive;
}

/*Footer*/
footer {
  height:10vh;
  background-color: var(--dark);
  color:var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul{
  list-style: none;
  display: flex;
  flex-direction: row;
}

footer img.icon{
  height: 30px;
}

footer h3{
  color: var(--white);
  font-family: 'Special Elite', cursive;
}

/*_____Content Styles_____*/

.quote {
  color: var(--white);
  text-shadow: 0px 0px 1em var(--dark);
  text-align: center;
  font-size: 1.3em;
  flex-direction: column;
  padding: 5vw;
}


#homebio{
  margin-bottom: 5vh;
  margin-top: 0;
  width: 50vw;
  height: fit-content;
  align-self: center;
  text-align: center;
  font-size: 1.2em;
}

/*Bio*/
.bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 60%;
}

.bio .img{
  height: 33vh;
  float: left;
  clear: left;
  margin-right: 1vw;
}

img#bio-image{
  height: 100%;
  width: auto;
}

.bio .description{
  height: fit-content;
  text-align: justify;
}

.description > h3 {
  font-weight:lighter;
}

/*Contact Page*/
#contactPage{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vh;
  height: 90vh;
}

#contact-list{
  background-color: var(--trans-white);
  padding: 5vh;
  box-shadow: 0px 0px 1em var(--dark);
  height: fit-content;
}

.contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.contact > h2{
  color:var(--dark);
}

img.icon{
  width: auto;
  float:left;
}

/*Project page*/

.project-list{
  list-style: none;
}

/*_____SHOWCASE______*/

.showcase{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: var(--trans-white);
  padding: 5vh;
  box-shadow: 0px 0px 1em var(--dark);
  height: 90vh;
}




/*_____Media Queries_____*/

@media only screen and (max-width: 992px) {
  nav {
    justify-content: center;
  }

  .full-screen {
    height: fit-content;
    min-height: 50vh;
    flex-direction: column;
    padding: 5vw;
  }

  #header {
    margin-top: 5vh;
    font-size: 8em;
    text-align: center;
    margin-top: 20vh;
  }

  #homebio{
    width: 90%;
    margin-top: 5vh;
    font-size: 1em;
    text-align: center;
  }

  .quote {
    font-size: 1em;
  }

  .card{
    width: 90%;
  }

  .row {
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 60%;
  }

  .card-row {
    height: fit-content;
    width: auto;
    padding: 5vh;
    margin: 5vh, 0;
    text-align: center;
  }
}

@media only screen and (max-width: 776px){
  .bio {
    flex-direction: column;
    width: 80vw;
  }  

  .bio .img{
    height: 33vh;
    float: none;
    clear: none;
    margin: 3vh;
  }
  
  img#bio-image{
    width: auto;
    height: 100%;
  }
}


@media only screen and (max-width: 600px) {
  nav {
    justify-content: center;
  }

  .full-screen {
    height: fit-content;
    min-height: 30vh;
    flex-direction: column;
    padding: 5vw;
  }

  .half-screen {
    height: fit-content;
    margin: none,
  }

  header {
    margin-bottom: 5vh;
  }

  #header {
    font-size: 5em;
    text-align: center;
    margin-top: 10vh;
  }

  #homebio{
    width: 100%;
    font-size: 1.1em;
    text-align: center;
  }

  .card{
    text-align: center;
    padding: 1vw;
    width: 100%;
  }

  .card > ul {
    text-align: center;
    margin-left: 10vw;
  }

  .quote {
    font-size: .7em;
  }

  .bio {
    flex-direction: column;
    width: 80vw;
  }  

  .bio .img{
    height: 33vh;
    float: none;
    clear: none;
    margin: 3vh;
  }
  
  img#bio-image{
    width: auto;
    height: 100%;
  }

  .row {
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 100%;
  }

  .card-row {
    height: fit-content;
    width: 90%;
    padding: 5vh;
    margin: 5vh, 0;
    text-align: center;
  }

  #contact-list{
    background-color: var(--trans-white);
    padding: 5vh;
    box-shadow: 0px 0px 1em var(--dark);
    height: fit-content;
    width: 90vw;
    font-size: .7em;
  }
  
  footer{
    text-align: center;
  }
}
