:root{
    --purple: #7a00d0;
    --darkPurple: #450176;
    --transPurple: #7900d072;
    --black: #000000;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    color: var(--white)
}

.container{
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

.wrapper{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 10vh;
}

h1{
    font-size: 1.5em;
}

p{
    font-size: 1.2em;
}

a{
    font-size: 1.2em;
    color: var(--white)
}

/*     NAVBAR     */

nav{
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: var(--darkPurple);
}

nav a{
    text-decoration: none;
    font-size: 1.3em;
    color: var(--white)
}

nav a:focus,
nav a:hover{
    font-weight: bold;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 3vw;
}



/*     FOOTER     */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: var(--darkPurple);
}

footer a{
    text-decoration: none;
    font-size: 1.3em;
    color: var(--white)
}

footer a:focus,
footer a:hover{
    font-weight: bold;
}

footer ul{
    list-style: none;
}

footer ul li{
    display: inline-block;
    margin: 0 3vw;
}



/*     INDEX     */

nav#sticky-nav{
    position: sticky;
    top: 0;
    height: 10vh;
}

/*     INTRO SECTION     */

#home-intro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url(../assets/intro.png);
    background-position: 50% 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--black);
}

#intro-name{
    font-size: 2em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 3em;
}

#intro-description{
    height: 20vh;
}

.scroll-indicator{
    height: 15vh;
}

/*     CONTENT SECTIONS     */

.home-section{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#blurb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin: 10vw;
    text-align: center;
}

#home-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home-skills-text{
    padding: 5vw;
}

#home-skills-list{
    list-style: none;
    margin:5vw;
}

#home-skills-list li{
    font-size: 1.2em;
}

#about-prev,
#projects-prev{
    height: 45vh;
    display: flex;
    text-align: center;
    padding: 0 5vw;
}

#about-prev a,
#projects-prev a{
    font-size: 1.5em;
}

#about-prev{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

#about-prev-image{
    height: 0;
    width: 0;
}

#projects-prev{
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
}

#projects-prev-quote{
    padding: 5vw;
    margin: 3vw;
}

/*     ABOUT PAGE      */

#about-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}


#headshot{/*--------------change when img is inserted-----------------*/
    height: 100vw;  
    width: 100%;
}

#about-scroll{
    text-align: center;
    padding: 5vh;
}

.scroll-section{
    padding: 5vh;
}

#about-scroll h1{
    font-size: 2em;
}

.scroll-section h2{
    font-size: 1.7em;
}

.scroll-section h3{
    font-size: 1.5em;
}

.scroll-section p{
    margin-bottom: 10vh
}


/*     PROJECT PAGE     */


.project-section,
.project-section-sm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.project-showcase{/*--------------change when vid is inserted-----------------*/
    height: 75vw;
    width: 100%;
}

.project-links{
    padding: 5vw;
}

.project-description{
    padding: 10vw;
}

.warn{
    font-size: .8em;
}


/*     CONTACT PAGE     */

#contact-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    margin-top: 10vh;
}





@media only screen and (min-width: 600px) {
/*HOME PAGE*/
    #home-intro{
        height: 100vh;
    }

    #about-prev{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #about-prev-image{/*--------------change when img is inserted-----------------*/
        min-height: 30vw;  
        min-width: 30vw;
    }

/*ABOUT PAGE*/
    #headshot{/*--------------change when img is inserted-----------------*/
        height: 50vw;  
        width: 50%;
    }

/*PROJECTS PAGE*/
    .project-showcase{/*--------------change when vid is inserted-----------------*/
        height: 75vh;
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
/*HOME PAGE*/

    #intro-name{
        margin: 0;
    }

    #projects-prev{
        flex-direction: row-reverse;
    }

    #projects-prev-text{
        padding: 5vw;
        margin: 0;
    }

    #projects-prev-quote{
        width: 60%
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
/*ABOUT PAGE*/
    #about-content{
        display: inline-flex;
        flex-direction: row;
        height: fit-content;
    }

    #headshot{
        display: inline-block; 
        width: 50%;
        height: 78.5vh;
    }

    #about-scroll{
        display: inline-block;
        height: 78.5vh;
        width: 50%;
        overflow-y: scroll;
        margin: 0;
        padding: 0;
    }

/*PROJECTS PAGE*/
    .project-section{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .project-section-sm{
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .project-section-sm > .project-description,
    .project-section-sm > .project-links{
        width: 100%;
    }

    .project-showcase{/*--------------change when vid is inserted-----------------*/
        height: 75vh;
        width: 60vw;
    }

    .group{
        width: 40vw;
        height: fit-content;
        max-height: 75vh;
    }

    .project-description,
    .project-links{
        height: fit-content;
        margin: 0;
        padding: 0;
    }

    #node-example{
        flex-direction: row-reverse;
    }

}