:root{
    --purple: #7a00d0;
    --darkPurple: #450176;
    --transPurple: #7900d072;
    --black: #000000;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    color: var(--white);
    /* background-image: url(../assets/bkgr-sm.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; */
}

.container{
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

.wrapper{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 10vh;
}

h1{
    font-size: 1.5em;
}

p{
    font-size: 1.2em;
}

a{
    font-size: 1.2em;
    color: var(--white)
}

/*     NAVBAR     */

nav{
    position: fixed;
    z-index: 1;
    top:0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: var(--black);
}

nav a{
    text-decoration: none;
    font-size: 1.3em;
    color: var(--white)
}

nav a:focus,
nav a:hover{
    font-weight: bold;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 3vw;
}



/*     FOOTER     */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: var(--black);
}

footer a{
    text-decoration: none;
    font-size: 1.3em;
    color: var(--white)
}

.icon{
    height: 3em;
    width: 3em;
}

footer a:focus,
footer a:hover{
    font-weight: bold;
}

footer ul{
    list-style: none;
}

footer ul li{
    display: inline-block;
    margin: 0 3vw;
}



/*     INDEX     */

nav#sticky-nav{
    position: sticky;
    top: 0;
    height: 10vh;
}

/*     INTRO SECTION     */

#home-intro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url(../assets/intro.png);
    background-position: 50% 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--black);
}

#intro-name{
    font-size: 2em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 3em;
}

/*DESCRIPTION ANIMATION*/

#intro-description{
    height: 20vh;
}

.txt-type{
    font-size: 2em;
}

.txt{
    border-right: 2px solid var(--white);
    animation: blink 1s linear infinite;
}

@keyframes blink{
    50%{
        border: transparent;
    }
}

/*END DESCRIPTION*/


.scroll-indicator{
    height: 15vh;
}

/*     CONTENT SECTIONS     */

.home-section{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#blurb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin: 10vw;
    padding: 5vw;
    text-align: center;
    background-color: var(--transPurple);
}

#home-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home-skills h1{
    font-size: 2.2em;
    text-decoration: underline;
}

#home-skills-text{
    padding: 5vw;
    border: 3px solid var(--purple);
    margin: 5vw;
}

#home-skills-list{
    list-style: none;
    margin:5vw;
    width: 100%;
}

#home-skills-list li{
    font-size: 2em;
    /* opacity: 0; */
}

/*LIST ITEMS ANIMATION*/

/* .reveal{
    animation: reveal 1s ease;
    animation-fill-mode: forwards;
}

@keyframes reveal{
    100%{
        opacity: 100;
    }
}
 */

/*END LIST ITEMS ANIMATION*/

#about-prev,
#projects-prev{
    min-height: 45vh;
    display: flex;
    text-align: center;
    padding: 5vw;
    border: 3px solid var(--purple);
    margin: 5vw;
    width: 100%
}

#about-prev a,
#projects-prev a{
    font-size: 1.5em;
}

#about-prev{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

#about-prev-image{
    height: 0;
    width: 0;
}

#projects-prev{
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
}

#projects-prev-quote{
    padding: 5vw;
    margin: 3vw;
    background-color: var(--transPurple);
}

/*     ABOUT PAGE      */

#about-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}


#headshot{
    height: 100vw;  
    width: 100%;
    margin: 10vw;
    background-image: url(../assets/head-sm.jpg);
    background-position: center;
    background-size: cover;
}

#headshot.vin{
    box-shadow: inset 0 0 150px var(--black);
}

#about-scroll{
    text-align: center;
    padding: 5vh;
}

.scroll-section{
    padding: 5vh;
}

#about-scroll h1{
    font-size: 2em;
}

.scroll-section h2{
    font-size: 1.7em;
}

.scroll-section h3{
    font-size: 1.5em;
}

.scroll-section p{
    margin-bottom: 10vh
}


/*     PROJECT PAGE     */
.project-section:first-of-type{
    margin-top: 10vh;
}

.project-section,
.project-section-sm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.project-showcase video{
    height: 75vw;
    width: 100%;
}

.project-links{
    padding: 5vw;
}

.project-description{
    padding: 10vw;
}

.warn{
    font-size: .8em;
}


/*     CONTACT PAGE     */

#contact-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    margin-top: 10vh;
}





@media only screen and (min-width: 600px) {

/*HOME PAGE*/
    #home-intro{
        height: 100vh;
    }

    #home-skills-text,
    #about-prev,
    #projects-prev{
        border: none;
        margin: 0;
    }

    #about-prev{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #about-prev-image{
        min-height: 30vw;
        min-width: 30vw;
        background-image: url(../assets/aboutprev.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

/*ABOUT PAGE*/
    #headshot{
        height: 60vw;
        width: 60vw;
        background-image: url(../assets/head-md.jpg);
    }


/*PROJECTS PAGE*/
    .project-showcase video{
        height: 75vh;
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* body{
        background-image: url(../assets/bkgr.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    } */
/*HOME PAGE*/
    #home-skills,
    #about-prev,
    #projects-prev{
        min-height: auto;
    }

    .home-section{
        margin: 0;
        min-height: auto;
    }

    #intro-name{
        margin: 0;
    }
    
    #projects-prev{
        flex-direction: row-reverse;
        justify-content: center;
        margin: 0;
    }

    #projects-prev-text{
        padding: 5vw;
        margin: 0;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
/*ABOUT PAGE*/
    #about-content{
        display: inline-flex;
        flex-direction: row;
        height: 80vh;
    }
    
    #headshot{
        display: inline-block; 
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url(../assets/head-lg.jpg);
    }

    #about-scroll{
        display: inline-block;
        height: 80vh;
        width: 50%;
        overflow-y: scroll;
        margin: 0;
        padding: 0;
    }

/*PROJECTS PAGE*/
    .project-section{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .project-section-sm{
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .project-section-sm > .project-description,
    .project-section-sm > .project-links{
        width: 100%;
    }

    .project-showcase video{
        height: 75vh;
        width: 60vw;
    }

    .group{
        width: 35vw;
        height: fit-content;
        max-height: 75vh;
    }

    .project-description,
    .project-links{
        height: fit-content;
        margin: 0;
        padding: 0;
    }

    #node-example{
        flex-direction: row-reverse;
    }

}