:root

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body

.container{
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
}

h1{
    font-size: 1.5em;
}

p{
    font-size: 1.2em;
}

a{
    font-size: 1.2em;
}

div{
    border: 1px solid black
}

/*     NAVBAR     */

nav{
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    font-size: 1.3em;
    background-color: white;
}

nav a{
    text-decoration: none;
    font-size: 1.2em;
}

nav a:focus,
nav a:hover{
    font-weight: bold;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}



/*     FOOTER     */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    font-size: 1.3em;
    background-color: white;
}

footer a{
    text-decoration: none;
    font-size: 1.2em;
}

footer a:focus,
footer a:hover{
    font-weight: bold;
}

footer ul{
    list-style: none;
}

footer ul li{
    display: inline-block;
}



/*     INDEX     */

nav#sticky-nav{
    position: sticky;
    top: -1px;
}

/*     INTRO SECTION     */

#home-intro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#intro-name{
    font-size: 2em;
}

#intro-description{
    height: 20vh;
    width: 100%;
    border: 1px solid black;
    /*this is temporary*/
}

.scroll-indicator{
    height: 15vh;
    width: 100%;
    border: 1px solid black;
    /*this is temporary*/
}

/*     CONTENT SECTIONS     */

.home-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#blurb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin: 10vw;
    text-align: center;
}

#home-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home-skills-text{
    padding: 5vw;
}

#home-skills-list{
    list-style: none;
    margin: 0 5vw 5vw 5vw;
}

#home-skills-list li{
    font-size: 1.2em;
}

#about-prev,
#projects-prev{
    height: 45vh;
    display: flex;
    text-align: center;
    padding: 5vh;
}

#about-prev{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-prev-image{
    height: 0;
    width: 0;
}

#projects-prev{
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
}

/*     ABOUT PAGE      */

#about-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}


#headshot{/*--------------change when img is inserted-----------------*/
    height: 100vw;  
    width: 100%;
}

#about-scroll{
    text-align: center;
    padding: 5vh;
}

.scroll-section{
    padding: 5vh;
}

#about-scroll h1{
    font-size: 2em;
}

.scroll-section h2{
    font-size: 1.7em;
}

.scroll-section h3{
    font-size: 1.5em;
}

.scroll-section p{
    margin-bottom: 10vh
}

@media only screen and (min-width: 600px) {div{background-color: red;}
/*HOME PAGE*/
    #about-prev{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #about-prev-image{/*--------------change when img is inserted-----------------*/
        min-height: 30vw;  
        min-width: 30vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {div{background-color: blue;}
/*HOME PAGE*/
    #projects-prev{
        flex-direction: row-reverse;
    }

    #projects-prev-text{
        padding: 5vw;
        margin: 0;
    }

    #projects-prev-quote{
        width: 60%
    }

/*ABOUT PAGE*/
    #headshot{/*--------------change when img is inserted-----------------*/
        height: 50vw;  
        width: 50vw;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {div{background-color: green;}
/*ABOUT PAGE*/
    #about-content{
        display: inline-flex;
        flex-direction: row;
        height: fit-content;
    }

    #headshot{
        display: inline-block; 
        width: 50%;
        height: 78.5vh;
    }

    #about-scroll{
        display: inline-block;
        height: 78.5vh;
        width: 50%;
        overflow-y: scroll;
        margin: 0;
        padding: 0;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {div{background-color: yellow;}

}